<div class="container">
  <div class="addFriend">
    <button ion-button icon-only (click)="setValueAddFriendPage()" id="search-circle-outline">
      <ion-icon name="person-add-outline" ></ion-icon>
    </button>
  </div>
  <div class="removeFriend">
    <button ion-button icon-only (click)="test()" id="search-circle-outline">
      <ion-icon name="person-remove-outline"></ion-icon>
    </button>
  </div>
  <div class="parametre">
    <button ion-button icon-only (click)="test()" id="search-circle-outline">
      <ion-icon name="settings-outline"></ion-icon>
    </button>
  </div>
  <div class="disconnect">
    <button ion-button icon-only (click)="disconnect()" id="search-circle-outline">
      <ion-icon name="log-out-outline"></ion-icon>
    </button>
  </div>
</div>