<div class="container">
  <div class="listNotif" *ngFor="let notif of notifAskFriend">
      <div class="notif">
          <div class="infoUser"><label>{{notif.getUserPrenom()}} {{notif.getUserNom()}}</label></div>
          <div class="answerDiv">
              <div class="accept">
                  <button class="acceptButton" (click)="accept(notif)"><label>Accepter</label></button>
              </div>
              <div class="refuse">
                  <button class="refuseButton" (click)="refuse(notif)"><label>Refuser</label></button>
              </div>
          </div>
      </div>
  </div>
</div>