<ion-content>
  <div class="container">
    <div class="clickCloseDiv" (click)="goBack()"
    [ngClass]="{'goForward': openAddFriendPage == true || openNotificationsPage == true }"></div>

    <div class="infoUser">
      <!-- Composant infoUser -->
      <app-info-user></app-info-user>
    </div>

    <div class="recherche">
      <!-- Composant Finder-->
      <app-finder></app-finder>
    </div>
    <div class="listContact">
      <!-- ICI METTRE LISTE DES CONTACTS  -->
      <!-- Composant listContact  -->
      <app-list-contact></app-list-contact>

    </div>

    <div class="infoFriend">
      <!-- Composant infoFriend-->
      <app-info-friend></app-info-friend>
    </div>
    <div class="MessageSpace">
      <!--Composant Message Space -->
      <app-message-space></app-message-space>
    </div>
    <div class="optionNav">
      <app-option-nav></app-option-nav>
    </div>

    <app-add-friend class="modalPageAddFriend" *ngIf="openAddFriendPage"></app-add-friend>
    <!-- Ici ajouter la notifPage -->
    <app-notification-page class="modalNotificationPage" *ngIf="openNotificationsPage"></app-notification-page>
  </div>


</ion-content>
