.container{
    margin: 0;
    padding: 0;
    width: 100%;
    height:100%;
    display:grid;
    grid-template-columns:400px 1fr;
    grid-template-rows: 75px 50px 1fr 30px;
    overflow:hidden;
}

.infoUser{
    grid-column-start :1;
    grid-row-start: 1;
    // background-color:blue;
}

.recherche{
    grid-column-start :1;
    grid-row-start: 2;
    // background-color:red;
    position:relative;
    top:10px;
}

.listContact{
    grid-column-start :1;
    grid-row-start: 3;
    // background-color:green;
    position:relative;
    top:20px;
}

.infoFriend{
    grid-column-start :2;
    grid-row-start: 1;
    // background-color:pink;
    position: relative;
    left:5px;
}
.MessageSpace{
    grid-column-start :2;
    grid-row: 2 / 5;
    // background-color:grey;
    position:relative;
    top:10px;
    left:5px;
    padding-bottom: 5px;
}

.optionNav{
    position:relative;
    grid-column-start: 1;
    grid-row-start: 4;
    padding-bottom: 5px;
    // background-color: green;
}

.clickCloseDiv{
    position: absolute;
    width:100%;
    height:100%;
    // visibility:hidden;
}

.goForward{
    z-index:1;
}

.modalPageAddFriend{
    height:150px;
    width:500px;
    border:1px solid;
    font-family: Candara, Calibri, Segoe, Segoe UI, Optima, Arial, sans-serif;
    font-size:20px;
    border-radius:10px;
    z-index:1;
    box-shadow : 10px 5px 5px grey;
    opacity: 1 !important;
    background-color:white;
    grid-column-start: 1;
    grid-row-start: 3;
    // align-self: center;
    // justify-self: center;
}

.modalNotificationPage{
    height:600px;
    width:400px;
    margin-top: 150px;
    z-index:1;
    // box-shadow : 10px 5px 5px grey;
    opacity: 1 !important;
    // background-color:red;
    grid-column-start: 1;
    grid-row-start: 3;
}

