<ion-content>
  <div class="container">
    <div class="infoUser">
      <!-- Composant infoUser -->
      <app-info-user></app-info-user>
    </div>

    <div class="recherche">
      <!-- Composant Finder-->
    </div>
    <div class="listContact">
      <!-- ICI METTRE LISTE DES CONTACTS  -->
      <!-- Composant listContact  -->

    </div>

    <div class="infoFriend">
      <!-- Composant infoUser-->
      <app-info-user></app-info-user>
    </div>
    <div class="MessageSpace">
      <!--Composant Message Space -->
    </div>
  </div>


</ion-content>
