<ion-content>
  <div class="body">
    <div class="wrapper">
      <div class="form signup">
        <header>Realtime Chat App</header>
        <form #form="ngForm" (ngSubmit)="signup(form)" >
          <div class="errorTxt">Ceci Est un message d'erreur</div>
          <div class="name-details">
            <div class="field input">
              <label>Nom</label>
              <input type="text" name="nom" placeholder="Nom de Famille" ngModel required>
            </div>
            <div class="field input">
              <label>Prenom</label>
              <input type="text" name="prenom" placeholder="Prenom" ngModel required>
            </div>
          </div>
          <div class="field input">
            <label>Email</label>
            <input type="text" name="email" placeholder="Email" ngModel required>
          </div>
          <div class="field input">
            <label>Mot de Passe</label>
            <input type="password" name="password" placeholder="enter Password" ngModel required>
          </div>
          <div class="field button">
            <input type="submit" [disabled]="form.invalid" value="Go !">
          </div>
        </form>
        <div class="link">Already sign Up ?<a href="#">Log in !</a></div>
      </div>
    </div>
  </div>

</ion-content>
