<div class="container">
  <div class="imgUser">
    <img  class="profil_picture"
          src="/assets/image/profil.jpg" (error)="updateUrl($event)"
          alt="c'est moi">
  </div>
  <div class="infoUser">
    <div class="name">
      <div class="field-name">
        <p>Nom Prenom</p>
      </div>
    </div>
    <div class="status">
      <div class="status-color">
        <div class="status-color-field"></div>
      </div>
      <div class="status-info">
        <div class="status-info-field">
          <p>En ligne</p>
        </div>
      </div>

    </div>
  </div>
</div>
