
<ion-content>
  <div class="body">
    <!-- Container du formulaire -->
    <div class="wrapper">
      <div class="form login">
        <header>Realtime Chat App</header>
        <form #form="ngForm" (ngSubmit)="login(form)" >
          <!-- Message d'erreur en cas de mauvaise combinaison  -->
          <div class="errorTxt" *ngIf="invalidLogin">Email ou Mot de passe incorrect</div>
          <!-- Toute les entrées -->
          <div class="field input">
            <label>Email</label>
            <input type="text" placeholder="Email" name="email" ngModel required>
          </div>
          <div class="field input">
            <label>Mot de Passe</label>
            <input type="password" placeholder="enter Password" name="password" ngModel required>
            <!-- <ion-icon slot="end" name="eye" ></ion-icon> -->
          </div>
          <div class="field button">
            <input type="submit" value="Go !">
          </div>
        </form>
        <div class="link">Not yet sign Up ? <a href="#">Sign in !</a></div>
      </div>
    </div>
  </div>

</ion-content>
